html {
    font-size: 10px;
    color: #434d4d;
}

main {
    max-width: 50rem;
    margin: 2rem auto;
    background: linear-gradient(90deg, #00A19D, #fff8e5);
    padding: 3rem 1.6rem 6rem 1.6rem;
    border-radius: 4rem;
    box-shadow: 0px 0px 32px 16px #FFB344;
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
}

section {
    background: #fff8e5;
    opacity: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    padding: 0 1.6rem;
    border-radius: 1rem;
    box-shadow: 0 2px 2px lightgray
}

section > div {
    padding: 1.6rem 0;
}